#hamburger,
#ch-menu {
  display: none;
}

nav {
  background-color: var(--culoare-deschisa);
  --inaltime-meniu: 30px;
  --latime-buton: 150px;
  height: var(--inaltime-meniu);
  position: sticky;
  top: 0;
}

ul.meniu {
  display: flex;
  list-style-type: none;
  padding: 0;

  li {
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    border: 1px solid var(--culoare-text);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    line-height: var(--inaltime-meniu);
    transition: all 1s linear;
    position: relative;

    div.imag-icon {
      display: block;
    }

    div.text-icon {
      display: none;
    }

    &:hover {
      ul {
        display: block;
        background-color: var(--culoare-deschisa);
        position: relative;
        left: 0;
        transform: scaleY(1);
        opacity: 1;
      }

      > a,
      > div {
        transform: scale(1.2);
      }
    }

    ul {
      display: none;
      padding: 0;
      transform: scaleY(0);
      transform-origin: top;
      animation: none;
      transition: transform var(--durata-animatie) ease,
        opacity var(--durata-animatie) ease;
      opacity: 0;

      li {
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          width: var(--px-mic);
          height: 0;
          transition: height 0.5s ease;
        }

        &::before {
          left: 0;
          background: linear-gradient(
            to right,
            var(--culoare-text),
            var(--culoare2)
          );
        }

        &::after {
          right: 0;
          background: linear-gradient(
            to left,
            var(--culoare-text),
            var(--culoare2)
          );
        }

        &:hover {
          &::before,
          &::after {
            height: 100%;
          }
        }
      }
    }
  }

  > li > a,
  > li > div {
    font-size: inherit;
    transition: transform 0.5s ease;
    color: var(--culoare-text);
    text-decoration: none;
    display: block;
    height: 100%;
    cursor: pointer;
  }
}
