<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords" content="outlet cosmetice, reduceri parfumuri, oferte speciale, produse beauty ieftine">
    <meta name="description"
        content="Descoperă cele mai bune oferte la cosmetice și parfumuri în outlet-ul nostru online!">
    <%- include("../fragmente/head.ejs") %>
        <title>Galerie</title>
</head>

<body>


    <%- include("../fragmente/header.ejs")%>



        <main>
                    <h2>Galerie</h2>
                    <%- include("../fragmente/fragment.ejs")%>
        </main>



        <%- include("../fragmente/footer.ejs")%>

</body>

</html>