math {
    font-family: Arial, sans-serif; /* Font general pentru toată formula */
  }
  
  mi {
    font-style: italic; /* Toate elementele mi vor fi în italic */
  }
  
  mo {
    color: var(--culoare3); /* Operatorii vor fi colorați în albastru */
  }
  
  mfrac {
    color: var(--culoare4); /* Fracțiile vor fi colorate în roșu */
  }
  
  mn {
    font-weight: bold; /* Numerele vor fi bold */
  }