<footer>
        <!-- Cerința 13: Informații de contact în footer -->
        <a href="https://www.google.com" target="_blank">Google</a>
        <br>
        <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
        <br>
        <address>
            <a href="tel:+40793292929">Telefon: +40 793 292 929</a><br>
            <!-- Bonus 4: iframe cu locația pe Google Maps -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8842997291954!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741548334325!5m2!1sro!2sro" width="400" height="200"></iframe><br>
            <a href="mailto:contact@beautyoutlet.ro">Email: contact@beautyoutlet.ro</a><br>
            <a href="https://wa.me/40793292929">Chat pe WhatsApp</a><br>
            <a href="./resurse/termeni_si_conditii/Termeni_și_Condiții_pentru_BeautyOutlet.pdf" download>Termeni și condiții</a>
        </address>
        <a href="#top">Înapoi la început</a><br>
        <!-- Cerința 14: Informație de copyright în footer -->
        <small>&copy; <time datetime="2025-03-09">9 martie 2025</time> BeautyOutlet. Toate drepturile rezervate.</small>
    </footer>